.panel{
    display: flex;
    padding: 0px;
    height: 36px;
    max-width:1248px;
    margin: 19px auto 0px auto;
}

.panel a{
    text-decoration: none;
    list-style-type: none;
    color: #97979B;
    padding:0px 12px;
    height: 36px;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    font-style: normal;
}
.panel a span{
    vertical-align: middle;
}
@media screen and (min-width: 1px) and (max-width: 1200px) {
    .panel a{
        min-height:20px;
        padding:5px;
        height: 30px;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 5px;
    }
    .panel{
        margin-bottom: 10px;
    }
    .panel.active a{
        padding:4px;
    }
    .panel{
        position: relative;
        height: auto;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
}