.panel{
    display: flex;
    padding: 0px;
    height: 36px;
    max-width:1248px;
    margin: 19px auto 0px auto;
}

.panel a{
    text-decoration: none;
    list-style-type: none;
    color: #97979B;
    padding:0px 12px;
    height: 36px;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    font-style: normal;
}
@media screen and (min-width: 1px) and (max-width: 1200px) {
    .panel a{
        min-height:20px;
        padding:10px 10px 0px 10px;
        height: 26px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .panel{
        position: relative;
        height: auto;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }
}