.criticalError img{
    display:block;
    width:56px;
    height:56px;
    margin: 0px auto;
}
.criticalError{
    max-width:1280px;
    margin: 17% auto;
}
.criticalError h3{
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    color: #050510;
    margin-top:8px;
}
.criticalError p{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #97979B;
    margin-top:12px;
}

.criticalError a{
    display: block;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #6534FF;
    margin-top:12px;
}