.inputSearch {
    width:1248px;
    height: 40px;
    background: #F7F7F8;
    border-radius: 16px;
    margin-top:8px;
}

.inputWrapper{
    display:flex;
    padding:10px 14px;
    height:20px;
}
.search{
    display:block;
    height:20px;
}
.filter{
    display:block;
    height:20px;
    text-align: right;
    margin-left:auto;
    cursor: pointer;
}
.filter a{
  border-bottom: none;
}
.filter img{
    padding:4px 0px;
    height:12px;
}
.inputSearch img{
    max-width:20px;
    max-height:20px;
}
.inputSearch input{
    border:none;
    background-color:#F7F7F8;
    color: #C3C3C6;
    outline:none;
}

::-webkit-input-placeholder {
    color: #C3C3C6;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #C3C3C6;
}
:-ms-input-placeholder {
    color: #C3C3C6;
}
:-moz-placeholder { /* Firefox 18- */
    color: #C3C3C6;
}


.inputSearch input{
    width: 172px;
    height: 20px;
    margin:2px 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    padding: 0px 8px;
}

